<app-header></app-header>
<div class="container">
    <h1 class="title-inicio">Plataforma con listado de Productos API Externa</h1>
    <p class="text">
        Nuestra plataforma de catálogo de productos con Angular 
        es una aplicación web que te permite explorar y descubrir 
        una amplia variedad de productos junto con sus características 
        en un solo lugar. Utilizamos tecnología Angular y una API externa 
        para proporcionar una experiencia de usuario dinámica. 
    </p>
 
    <p class="text">
        <strong>Tecnología:</strong> Utilizamos Angular para construir una aplicación 
        robusta y de alto rendimiento que garantiza una carga rápida y una 
        navegación sin problemas.
    </p>
</div>
<app-footer></app-footer>