.container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 10%;
}
.text {
    width: 50%;
}
.title-inicio {
    color: #ff0000;
    font-size: 36px;
}
